@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat&display=swap');


.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 4% 0% 2% 0%;
  color: white;
}
.App {
  text-align: center;
  
  font-size: 20px;
  color: aliceblue;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-left: 25%;
  
  /* margin: 1% 10% 0% 25%; */
  /* border: 1px red solid; */
  /* background-color: rgb(217, 255, 0); */
  border-radius: 30px;
  overflow: hidden;
  /* padding: 10px; */
  border: 6px  rgb(45,56,74) solid;
  box-shadow: 5px 5px 10px hsl(150, 8%, 9%);
  font-family: "Fraunces", sans-serif;
}

.left {
  width: 100%;
  padding: 10px 0 30px 0;
  background-color: rgb(27,33,57);
  /* font-family: "Fraunces", sans-serif; */
  font-family: 'Montserrat', sans-serif;
  color: rgb(160, 170, 179);
}

.bill {
  margin-top: 20px;
}
button {
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  height: 30px;
  padding: 25px;
  font-size: large;
  color: aliceblue;
  background-color: rgb(250,114,67);
  border-radius: 10px;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}
input {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}
.tips {
  margin-top: 20px;
  margin-bottom: 10px;
}

button:hover{
  font-size: large;
  background-color: rgb(255, 243, 214);
  color: rgb(79, 79, 79);
}

.nopeople {
  margin-top: 20px;
}

.right {
  width: 100%;
  /* display: flex; */
  font-family: 'Montserrat', sans-serif;
  /* padding: 10px 0 30px 0; */
  background-color: rgb(19,24,41);
}

.tipcontainer {
  display: flex;
  padding-top: 20px;
  /* border: solid blue 1px; */

}
.ta {
  margin: 20px 20px 10px 20px;
  padding-left: 20px;
  color: rgb(160, 170, 179);
}
.tiptotal {
  margin: 20px 20px 10px 20px;
  padding-left: 50px;
  padding-right: 20px;
  font-weight: bold;
  
}
.tippercontainer {
  display: flex;
  /* border: solid 1px red; */
}
.tipper {
  margin: 20px 20px 20px 20px;
  padding-left: 20px;
  color: rgb(160, 170, 179);
}

.tippertotal {
  /* margin: 20px; */
  padding: 20px 0px 20px 120px;
  font-weight: bold;
  
}

.totalcontainer, .totalpercontainer{
  display: flex;
  padding-top: 20px;
  /* border: 1px solid red; */
}

.totala, .totalper{
  margin: 20px;
  padding-left: 20px;
  color: rgb(160, 170, 179);
}
.totalsum {
  margin: 20px;
  padding-left: 130px;
  padding-right: 35px;
  font-weight: bold;
  /* border: rgb(87, 67, 67) solid 1px; */
}

.totalpersum {
  margin: 20px;
  padding-left: 80px;
  padding-right: 5px;
  font-weight: bold;
    /* border: rgb(87, 67, 67) solid 1px; */
}