.App {
  text-align: center;

  font-size: 20px;
  color: aliceblue;
  width: 600px;
  display: flex;
  justify-content: center;
  margin: 10% 10% 0% 30%;
  /* border: 1px red solid; */
  background-color: aqua;
  border-radius: 30px;
  overflow: hidden;
}

.left {
  width: 100%;
  padding: 10px 0 30px 0;
  background-color: #3B3C36;
}

button {
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  height: 30px;
  padding: 25px;
  font-size: large;
  background-color: aquamarine;
  border-radius: 10px;
  margin: 5px;
}
input {
  padding: 10px;
  border-radius: 10px;
}
button:hover{
  font-size: large;
  background-color: rgb(214, 255, 241);
}


.right {
  width: 100%;
  
  padding: 10px 0 30px 0;
  background-color: rgb(100, 187, 141);
}

